#slider {
  background-image: url('../img/21043.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.owl-carousel {
 transform: rotate(90deg);
 left: -20%;
}

.item {
  width: 300px;
  height: 600px;
  text-align: center;
   background: red;
   position: relative;
   margin: auto;
   color: #fff;
 }

.item-inner {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 80px;
  left: 0;
}
.owl-dot span {
  padding: 0px 3px;
  border-radius: 0px !important;
}
.active span{
  padding: 0px 10px;
  background-color: red !important;
}


